* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.mainDiv {
  background: linear-gradient(0.25turn, #b79891, #94716b);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  font-size: 18px;
  font-weight: bold;
}

h1 {
  text-align: center;
  color: beige;
  font-size: 40px;
  position: relative;
  bottom: 10rem;
  font-weight: bold;
}
input {
  margin: 15px;
}
